<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>后台系统</title>
  <link href="./css/font-awesome.4.6.0.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="./css/sidebar-menu.css">
  <link rel="stylesheet" type="text/css" href="./layui/css/layui.css">
  <link rel="stylesheet" href="./css/base.css">
  <script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/base.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo" style="border-right: 0.1px solid #393d49;">
      <img src="/images/logo.gif" alt="" style="width: 35px">&emsp;管理后台
    </div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <aside class="main-sidebar">
        <section class="sidebar">
          <ul class="sidebar-menu layui-nav layui-nav-tree site-demo-nav">
            <li class="treeview active">
              <a href="#/">
                <i class="fa fa-dashboard"></i> <span>仪表盘</span> <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu menu-open" style="display: block;">
                <li><a href="#/"><i class="fa fa-circle-o"></i> 仪表盘 v1</a></li>
                <li><a href="#/power/range"><i class="fa fa-circle-o"></i> 权限范围</a></li>
              </ul>
            </li>
            {% for rangelist in rangelist %}
            <li class="treeview">
              <a href="javascript:;">
                <i class="{{ rangelist.icon }}"></i>
                <span>{{ rangelist.name }}</span>
                <i class="fa fa-angle-right pull-right"></i>
              </a>
              <ul class="treeview-menu" style="display: none;">
                {% for level in rangelist.level if level.status == 1 %}
                <li><a href="#/{{ level.path }}"><i class="fa fa-circle-o"></i> {{ level.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </section>
      </aside>
    </div>
  </div>
  <div class="layui-body" id="app">
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 文讯天下 - 版权所有
  </div>
</div>
<script type="text/javascript" src="./layui/layui.all.js"></script>
<script src="./js/sidebar-menu.js"></script>
<script>
  var route = new Router();
  route.init()
  $.sidebarMenu($('.sidebar-menu'))
</script>
</body>
</html>

