<fieldset class="layui-elem-field" style="margin-left: 0px;">
  <div class="layui-field-box">
    <span class="layui-breadcrumb">
      <a href="#/">首页</a>
      <a>用户</a>
      <a><cite>导航元素</cite></a>
    </span>
  </div>
</fieldset>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script type="text/javascript" src="./layui/layui.all.js"></script>
<script>
layer.msg(321321)
</script>
