<fieldset class="layui-elem-field wx-elem">
    <div class="layui-field-box">
    <span class="layui-breadcrumb">
      <a href="#/">首页</a>
      <a>用户</a>
      <a><cite>用户管理</cite></a>
    </span>
    </div>
</fieldset>

<div class="wx-body">
    <div class="layui-card">
        <div class="layui-card-header wx-header">
        </div>
        <div class="layui-card-body">
            <button class="layui-btn" id="del">删除</button>
            <button class="layui-btn" id="add">添加</button>
            <table id="userlist" lay-filter="userlist"></table>
        </div>
    </div>
</div>
<script type="text/javascript" src="./layui/layui.all.js"></script>
<script>
    var table = layui.table;

    //第一个实例
    table.render({
        elem: '#userlist'
        ,height: 500
        ,url: '/demo/table/user/' //数据接口
        ,page: true //开启分页
        ,cols: [[ //表头
            {type: 'checkbox', fixed: 'left'}
            ,{field: 'id', title: 'ID', width:80, sort: true}
            ,{field: 'username', title: '用户名', width:80}
            ,{field: 'sex', title: '性别', width:80, sort: true}
            ,{field: 'city', title: '城市', width:80}
            ,{field: 'sign', title: '签名'}
            ,{field: 'experience', title: '积分', width: 80, sort: true}
            ,{field: 'score', title: '评分', width: 80, sort: true}
            ,{field: 'classify', title: '职业', width: 80}
            ,{field: 'wealth', title: '财富', width: 135, sort: true}
        ]]
    });
</script>